// Navigation Styles here

.navigation{
    @flexboxcenter();
    justify-content: space-evenly;
    border-bottom: 1px dashed black;

    @media (max-width:515px) {
     
    h1 {
    width:100%;
    @flexboxcenter();
    }
       
}
    a {
    padding:10px;
    text-decoration: none;
    font-size:1.8rem;
    color:black;
    }
    img{
        border-top: 1px dashed black;
        width:100%;
    }
}

